{
  "project_info": {
    "project_number": "123456789012",
    "firebase_url": "https://testyourself-dev-default-rtdb.firebaseapp.com",
    "project_id": "testyourself-dev",
    "storage_bucket": "testyourself-dev.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:123456789012:android:abcdef123456789012",
        "android_client_info": {
          "package_name": "com.testyourself.app"
        }
      },
      "oauth_client": [
        {
          "client_id": "123456789012-abcdefghijklmnopqrstuvwxyz123456.apps.googleusercontent.com",
          "client_type": 1,
          "android_info": {
            "package_name": "com.testyourself.app",
            "certificate_hash": "sha1_certificate_hash_here"
          }
        },
        {
          "client_id": "123456789012-abcdefghijklmnopqrstuvwxyz123456.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "AIzaSyABCDEFGHIJKLMNOPQRSTUVWXYZ1234567"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "123456789012-abcdefghijklmnopqrstuvwxyz123456.apps.googleusercontent.com",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}